@inherits ViewQuestionComponentBase

<!-- START Question container -->
<div class="container">
    <div class="row">
        <div class="col-10">
            <h1>@Question.Name</h1>
        </div>
        <div class="col-2">
            <HxButton Text="Ask Question" Color="ThemeColor.Primary" OnClick="OnAskQuestion" />
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            Created at @Question.CreatedAt - Viewed @Question.Views times
        </div>
        <div class="col-2">
            &nbsp;
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-1" style="text-align: center">
            <h1>@Question.Votes </h1>
        </div>
        <div class="col-10">
            @((MarkupString)Question.HtmlContent)
            <p>
                @Question.Tags
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-1">&nbsp;</div>
        <div class="col-8">
            <p>
                <HxButton Text="+1" Color="ThemeColor.Primary" /> &nbsp;
                <HxButton Text="Edit" Color="ThemeColor.Primary" /> &nbsp;
                <HxButton Text="Delete" Color="ThemeColor.Primary" /> &nbsp;
            </p>
        </div>
        <div class="col-2 divQuestionAuthor" >
            Asked by <b>@Question.CreatedBy</b><br>
            842
        </div>
    </div>
</div>
<!-- end QUESTION container -->

